<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/chat.css" />
    <title>Chat app</title>
  </head>
  <body>
    <h1 class="title">iChat 💬</h1>
    <div class="main">
      <div class="name">
        <span><i class="far fa-user"></i></span>
      </div>

      <ul class="message-container" id="message-container"></ul>

      <form class="message-form" id="message-form">
        <input
          type="text"
          name="message"
          id="message-input"
          class="message-input"
        />
        <div class="v-divider"></div>
        <button type="submit" class="send-button">
          send <span><i class="fas fa-paper-plane"></i></span>
        </button>
      </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      socket.on("connect", () => {
        console.log("Connected to socket server");

        // Join the user room
        socket.emit("join-room", 1);

        // Fetch existing conversation
        fetch(`/chat/conversation/${1}/${2}`)
          .then((response) => response.json())
          .then((conversation) => {
            // Display the conversation
            console.log("Conversation:", conversation);
          });
      });

      // Send a message
      function sendMessage(message) {
        const messageData = {
          senderId: 1,
          receiverId: 2,
          message: message,
        };
        socket.emit("send-message", messageData);
      }

      // Receive a message
      socket.on("receive-message", (message) => {
        console.log("New message:", message);
        // Display the message
      });

      // Example of sending a message
      document.getElementById("sendButton").addEventListener("click", () => {
        const message = document.getElementById("messageInput").value;
        sendMessage(message);
      });
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
      integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../public/css/main.js"></script>
  </body>
</html>
