<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
=======

>>>>>>> oauth
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<<<<<<< HEAD
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <b><h4>Login</h4></b>
                <!-- Form for email/password login -->
                <form action="/auth" method="post">
                    <div class="input-field">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field">
                        <button type="submit" class="btn waves-effect waves-light">Login</button>
                    </div>
                </form>

                <div class="section" style="text-align: center;">
                    <h6>OR LOGIN WITH</h6>
                </div>

                <!-- Social login buttons -->
                <div class="social-login-btn">
=======
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>

<body>
    <div class="container login-container">
        <div class="card" style="margin-top:100px;">
            <div class="card-content">
                <div class="section" style="text-align: center;">
>>>>>>> oauth
                    <a href="/auth/google" class="btn red darken-1">
                        <i class="fab fa-google left"></i> Log In With Google
                    </a>
                </div>
<<<<<<< HEAD
                <div class="social-login-btn">
                    <a href="/auth/facebook" class="btn blue darken-4">
                        <i class="fab fa-facebook left"></i> Sign in with Facebook
                    </a>
                </div>
            </div>
=======
                <div class="card-action card-content" style="text-align: center;">
                    <a href="/auth/facebook" class="waves-effect waves-light btn social facebook">
                      <i class="fa fa-facebook"></i> Sign in with facebook
                    </a>
                </div>
>>>>>>> oauth
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> oauth
